.footer {
	margin-top: 5rem;
	width: 100%;
	padding: 3rem 0;
	border-top: 0.2rem solid var(--mainGrey);
	background-color: rgb(63, 55, 55);
}

.footer__copyright {
	text-align: center;
}

.footer__copyright p {
	font-size: 1.4rem;
	color: rgb(240, 227, 227);
}

.footer__text-and-author {
	margin: 0;
}

.footer__author {
	color: var(--primaryColor);
	font-weight: 600;
}

.footer__author:hover{
	text-shadow: 5px 5px 4px var(--primaryColorLight);
}
